{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="islamic-card-lg">
    <div class="card-header islamic-card-header">
      <h2 class="mb-0">
        <i class="fas fa-graduation-cap me-2"></i>
        Academic Support Hub
      </h2>
    </div>

    <div class="card-body islamic-card-body">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="islamic-resource-category">
            <div class="category-icon">
              <i class="fas fa-calculator fa-3x"></i>
            </div>
            <h4>Mathematics</h4>
            <ul class="resource-list">
              <li>
                <a href="#"><i class="fas fa-file-pdf"></i> Algebra Guide</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-video"></i> Calculus Lectures</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="islamic-resource-category">
            <div class="category-icon">
              <i class="fas fa-atom fa-3x"></i>
            </div>
            <h4>Science</h4>
            <ul class="resource-list">
              <li>
                <a href="#"><i class="fas fa-file-pdf"></i> Chemistry Notes</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-video"></i> Physics Tutorials</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="islamic-resource-category">
            <div class="category-icon">
              <i class="fas fa-book-open fa-3x"></i>
            </div>
            <h4>Islamic Studies</h4>
            <ul class="resource-list">
              <li>
                <a href="#"><i class="fas fa-file-pdf"></i> Fiqh Essentials</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-video"></i> Quranic Arabic</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
