<div
  class="prayer-times"
  style="background: var(--secondary-green); color: white"
>
  <div class="container py-2 text-center">
    <div class="row gx-1">
      <div class="col"><i class="fas fa-sun"></i> Fajr: 4:30 AM</div>
      <div class="col"><i class="fas fa-sun"></i> Dhuhr: 1:15 PM</div>
      <div class="col"><i class="fas fa-sun"></i> Asr: 5:00 PM</div>
      <div class="col"><i class="fas fa-moon"></i> Maghrib: Sunset</div>
      <div class="col"><i class="fas fa-moon-stars"></i> Isha: 9:00 PM</div>
    </div>
  </div>
</div>
